body{
	color: #666;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
}

a{
	color: #666;
	text-decoration: none;
}

header{
	background: #333;
	color: #fff;
	min-height: 55px;
}

nav{
	float: right;
	width: 70%;
}

nav ul{
	float: right;
}

nav li{
	float: left;
	list-style: none;
	padding: 0 10px;
}

nav a {
	color: #fff;
	padding-bottom: 5px;
}

nav li.current a, nav a:hover{
	color: #03899c;
	border-bottom: 3px solid #03899c;
}

header a{
	color: #fff;
}

section{
	padding: 20px 0;
	overflow: hidden;
}

.container2{
	margin: auto;
	overflow: auto;
	width: 80%;
}

.logo{
	float: left;
	margin-top: 15px;
	width: 30%;
}

.tagline{
	background: #03899c;
	color: #fff;
}

.tagline h1{
	font-size: 35px;
	text-align: center;
}

#gallery{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#gallery li{
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0 12px 7px 0;
	position: relative;
	width: 23%;
}

#gallery img{
	border-radius: 5px;
	width: 100%;
}

footer{
	background: #03899c;
	color: #fff;
	height: 55px;
	padding-top: 10px;
	text-align: center;
}

.overlay{
	background: #03899c url(../img/overlay.png) no-repeat top center;
	border-radius: 5px;
	box-sizing: border-box;;
	color: #fff;
	display: none;
	height: 100%;
	left: 0;
	padding: 20px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%
	z-index: 100;
}

.overlay h3{
	margin: 0;
	padding: 0;
}

/*****CSS For the Modal Popup************/

#content{
    position: relative;
}
#modal{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: black;
    transform: scale(0,0);
    transition: transform 500ms;
}
#modal.popit{
    transform: scale(1,1);
}
.exit{
    position: relative;
    left: 96%;
}
.box-content-container{
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: 25%;
    margin-top: 15%;
}

p.demo-material{
	font-size: 35px;
	line-height: 1.6em;
    padding: 75px;   
}

/****MEDIA QUERIE******/
@media(max-width: 768px){
	.logo, nav{
		float: none;
		text-align: center;
		width: 100%;
	}
	
	nav ul, nav li{
		float: none;
		padding: 0;
	}
	
	nav li{
		margin-bottom:15px;
	}
	
	#gallery li{
		margin-right:8px;
		width: 48%;	
	}
}

@media(max-width: 568px){
	#gallery li{
		margin-right: 0;
		width: 100%;		
	}
}